<a href="{{ product.url | within: collection }}" class="product-grid-card-link">
  <div class="mobile-price-container">
    <p class="h2 product-title">
      <a href="{{ product.url | within: collection }}">{{ product.title | truncate:25 }}</a>
    </p>
    {% if on_sale %}
    {% if product.price_varies %}
    {% assign sale_price = product.price | money_without_trailing_zeros %}
    <p class="h3 product-price product-on-sale">{{ 'products.product.on_sale_from_html' | t: price: sale_price }}</p>
    {% else %}
    <p class="h3 product-price">{{ product.price | money_without_trailing_zeros }}</p>
    {% endif %}
    {% else %}
    {% if product.price_varies %}
    {% assign price = product.price | money %}
    <p class="h3 product-price">
      {% if sold_out %}      
      <s>{{ 'products.general.from_text_html' | t: price: price }}</s>
      {%else%}
      {{ 'products.general.from_text_html' | t: price: price }}
      {%endif%}
    </p>
    {% else %}
    <p class="h3 product-price">
      {% if sold_out %}      
      <s>{{ product.price | money_without_trailing_zeros }}</s>
      {%else%}
      {{ product.price | money_without_trailing_zeros }}
      {%endif%}
    </p>
    {% endif %}
    {% endif %}
     {% if settings.use_swatches %}
         {% for option in product.options %}
      
        {%if option == 'Color'%}
       {% include 'swatch' with option, total:0, collPage: true%}
       {%endif%}
       {%endfor%} 
   {% endif %}
  </div>
</a> 
