<span class="icon icon-{{ icon }}{% if icon == 'search' %} js-search-open{% endif %}"  aria-hidden="true"></span>
<span class="fallback-text">{{ type | replace: '_',' '}}</span>


{% case icon %}
{% when 'instagram-feed' %}
<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
  <title>Instagram</title>
  <desc>Created with Sketch.</desc>
  <defs></defs>
  <g id="Social-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Instagram" fill="#FFFFFF">
      <g id="instagram">
        <path d="M19.9999603,3.60367656 C25.3402165,3.60367656 25.9727176,3.62400043 28.0816369,3.72022126 C30.0316171,3.80921759 31.090602,4.13503466 31.7954275,4.40885121 C32.7288966,4.77166408 33.3952179,5.20513416 34.0950419,5.90495811 C34.7948658,6.60478206 35.2283359,7.27110338 35.5910694,8.20457247 C35.8649653,8.909398 36.1907824,9.96838288 36.2797787,11.9182837 C36.3759996,14.0272824 36.3963234,14.6597835 36.3963234,20.0000397 C36.3963234,25.3402958 36.3759996,25.972797 36.2797787,28.0817163 C36.1907824,30.0316965 35.8649653,31.0906814 35.5910694,31.7955069 C35.2283359,32.728976 34.7948658,33.3952973 34.0950419,34.0951213 C33.3952179,34.7949452 32.7288966,35.2284153 31.7954275,35.5911488 C31.090602,35.8650447 30.0316171,36.1908618 28.0816369,36.2798581 C25.9730351,36.376079 25.340534,36.3964028 19.9999603,36.3964028 C14.6593866,36.3964028 14.0268855,36.376079 11.9182837,36.2798581 C9.96830349,36.1908618 8.90931861,35.8650447 8.20457247,35.5911488 C7.27102399,35.2284153 6.60470267,34.7949452 5.90487872,34.0951213 C5.20505477,33.3952973 4.77158469,32.728976 4.40885121,31.7955069 C4.13495527,31.0906814 3.8091382,30.0316965 3.72014187,28.0817956 C3.62392104,25.972797 3.60359717,25.3402958 3.60359717,20.0000397 C3.60359717,14.6597835 3.62392104,14.0272824 3.72014187,11.9183631 C3.8091382,9.96838288 4.13495527,8.909398 4.40885121,8.20457247 C4.77158469,7.27110338 5.20505477,6.60478206 5.90487872,5.90495811 C6.60470267,5.20513416 7.27102399,4.77166408 8.20457247,4.40885121 C8.90931861,4.13503466 9.96830349,3.80921759 11.9182044,3.72022126 C14.027203,3.62400043 14.6597042,3.60367656 19.9999603,3.60367656 M19.9999603,0 C14.5682467,0 13.8872382,0.0230231363 11.7540256,0.12035543 C9.62517937,0.217528943 8.1713874,0.555572095 6.89916065,1.05001379 C5.58398384,1.56112742 4.46863197,2.24499396 3.35677327,3.35685266 C2.24491457,4.46871136 1.56104803,5.58406323 1.0499344,6.89924004 C0.555492705,8.17146679 0.217449553,9.62525876 0.120276039,11.754105 C0.0229437461,13.8872382 0,14.5683261 0,20.0000397 C0,25.4317533 0.0229437461,26.1128412 0.120276039,28.2459744 C0.217449553,30.3748206 0.555492705,31.8286126 1.0499344,33.1008394 C1.56104803,34.4159368 2.24491457,35.531368 3.35677327,36.6432267 C4.46863197,37.7550854 5.58398384,38.438952 6.89916065,38.9500656 C8.1713874,39.4445073 9.62517937,39.7825504 11.7540256,39.879724 C13.8872382,39.9770563 14.5682467,40 19.9999603,40 C25.4316739,40 26.1127618,39.9770563 28.245895,39.879724 C30.3747412,39.7825504 31.8285332,39.4445073 33.10076,38.9500656 C34.4159368,38.438952 35.5312886,37.7550854 36.6431473,36.6432267 C37.755006,35.531368 38.4388726,34.4160162 38.9499862,33.1008394 C39.4444279,31.8286126 39.7824711,30.3748206 39.8796446,28.2459744 C39.9769769,26.1128412 40,25.4317533 40,20.0000397 C40,14.5683261 39.9769769,13.8872382 39.8796446,11.754105 C39.7824711,9.62525876 39.4444279,8.17146679 38.9499862,6.89924004 C38.4388726,5.58406323 37.755006,4.46871136 36.6431473,3.35685266 C35.5312886,2.24499396 34.4159368,1.56112742 33.10076,1.05001379 C31.8285332,0.555572095 30.3747412,0.217528943 28.245895,0.12035543 C26.1127618,0.0230231363 25.4316739,0 19.9999603,0 Z M20.0396825,9.76190476 C14.3634478,9.76190476 9.76190476,14.3634478 9.76190476,20.0396825 C9.76190476,25.7159173 14.3634478,30.3174603 20.0396825,30.3174603 C25.7159173,30.3174603 30.3174603,25.7159173 30.3174603,20.0396825 C30.3174603,14.3634478 25.7159173,9.76190476 20.0396825,9.76190476 Z M20.0396825,26.7112406 C16.3551272,26.7112406 13.3681245,23.7242379 13.3681245,20.0396825 C13.3681245,16.3551272 16.3551272,13.3681245 20.0396825,13.3681245 C23.7242379,13.3681245 26.7112406,16.3551272 26.7112406,20.0396825 C26.7112406,23.7242379 23.7242379,26.7112406 20.0396825,26.7112406 Z M33.015873,9.28567491 C33.015873,10.6006509 31.949936,11.6666667 30.63496,11.6666667 C29.319984,11.6666667 28.2539683,10.6006509 28.2539683,9.28567491 C28.2539683,7.97069894 29.319984,6.9047619 30.63496,6.9047619 C31.949936,6.9047619 33.015873,7.97069894 33.015873,9.28567491 Z" id="Shape"></path>
      </g>
    </g>
  </g>
</svg>
{% when 'left' %}
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
  <title>Previous</title>
  <defs></defs>
  <g id="Social-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Arrow-Icon">
      <g id="Left">
        <circle id="Oval-Copy" fill="{{ icon_color }}" cx="15" cy="15" r="15"></circle>
        <path d="M17.5,6.5 L8.98530682,15.0146932" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
        <path d="M17.5586969,23.604647 L9.04400369,15.0899538" id="Line-Copy" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
      </g>
    </g>
  </g>
</svg>

{% when 'right' %}
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
  <title>Right</title>
  <defs></defs>
  <g id="Social-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Arrow-Icon">
      <g id="Right" transform="translate(15.000000, 15.000000) rotate(180.000000) translate(-15.000000, -15.000000) translate(0.000000, -0.000000)">
        <circle id="Oval-Copy" fill="{{ icon_color }}" cx="15" cy="15" r="15"></circle>
        <path d="M17.5,6.5 L8.98530682,15.0146932" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
        <path d="M17.5586969,23.604647 L9.04400369,15.0899538" id="Line-Copy" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
      </g>
    </g>
  </g>
</svg>

{%when 'soldout'%}
<div class="Sold Out Badge collection-product-soldout-badge">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
    <g>
      <title>Layer 1</title>
      <ellipse stroke="#000" ry="30" rx="30" cy="30" cx="30" stroke-width="0" fill="{{settings.sold_badge_color}}"/>
      <text font-weight="bold" stroke="#000" xml:space="preserve" text-anchor="middle" font-family="Helvetica, Arial, sans-serif" font-size="10px"  y="33" x="29" stroke-opacity="null" stroke-width="0" fill="#ffffff">SOLD-OUT</text>
    </g>
  </svg>
</div>

{%when 'sale' %}
<div class="sale-badge collection-product-sale-badge">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
    <g>
      <ellipse ry="30" rx="30"  cy="30" cx="30" stroke-width="0" stroke="black" fill="{{settings.sale_badge_color}}"></ellipse>
      <text font-weight="bold" stroke="#000" xml:space="preserve" text-anchor="middle" font-family="Helvetica, Arial, sans-serif" font-size="12px"  y="33" x="29" stroke-opacity="null" stroke-width="0" fill="#ffffff">SALE</text>
    </g>
  </svg>
</div>
{% endcase %}

