<div class="grid--full">
{% include 'image-style' %}
  {% if section.settings.image %}
      {% if section.settings.image_height %}
           <div>
            {% assign img_url = section.settings.image  | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="lazyload lazystretch"
            src="{{ section.settings.image | img_url: '300x' }}"
            data-src="{{ img_url }}"
            data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="{{ section.settings.image.aspect_ratio }}"
            data-sizes="auto"
            data-parent-fit="cover"
            alt="{{ section.settings.image.alt }}">
           </div>
      {%else%}
          <div class="collection-featured-image-{{ section.settings.page-image-height }} lazyload lazypreload"
          data-bgset="{% include 'bgset', image: section.settings.image %}"
          data-sizes="auto"
          data-parent-fit="cover" 
          style="background-color: white; background-image: url({{ section.settings.image | img_url: '300x', format: 'pjpg' }});">
          </div>
      {%endif%}
  {% endif %}

  <div class="grid--full page-wrapper">
    <div class="grid__item large--two-thirds push--large--one-sixth">
    <h1 class="page-title">{{ page.title }}</h1>
    {% comment %}
    Regular page content goes here.
    {% endcomment %}
    <div class="rte page-text">
      {{ page.content }}
    </div>
  </div>
  </div>
</div>



{% schema %}
{
"name": "About page",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Banner image",
"info": "1920 x 400px .png recommended"
},
{
"type": "checkbox",
"id": "image_height",
"label": "Use image height"
},
{
"type":   "range",
"id":     "page-image-height",
"min":       300, 
"max":       550,
"step":      50,
"unit":      "px",
"label":     "Page banner height",
"default":   350,
"info": "Only works if image height setting above is unchecked"
}
]
}
{% endschema %}