{% assign grid_width = "large--one-half" %}
{%- assign display_map = false -%}
{%- assign onboarding = false -%}
{%- assign bg_image = section.settings.background_image -%}

{%- if section.settings.api_key == blank and bg_image == blank -%}
{%- assign onboarding = true -%}
{%- endif -%}

{%- if section.settings.api_key != blank and section.settings.map_address -%}
{%- assign display_map = true -%}
{%- endif -%}

<style>
{% if bg_image.src != blank %}
#MapSection--{{ section.id }} .map-section__image {
background-position: {{ section.settings.background_image_position }};
}

@media only screen and (max-width: 750px) {
#MapSection--{{ section.id }} .map-section__image {
padding-top: {{ 1 | divided_by: bg_image.aspect_ratio | times: 100 }}%;
}
}
{% endif %}
</style>



<!-- /sections/Map.liquid -->
<div class="grid--full card-shadow {% if display_map %}map-section--display-map{% endif %} {% if onboarding == true %}map-section--onboarding{% endif %}" data-section-id="{{ section.id }}" data-section-type="map">

{% if section.settings.dir == 'left' %}

<div class="grid__item large--one-half medium-down--one-whole left-map {{section.settings.feature_image_position}}">
    <div class="map-section__background-wrapper">
        {% if bg_image != blank %}
            <div class="map-section__image" style="background-image: url('{{ bg_image | img_url: '1024x1024' }});"></div>
        {% elsif onboarding == true %}
            <div class="placeholder-background"></div>
        {% endif %}
        {% if display_map %}
            <div class="map-section__container"
               id="Map-{{ section.id }}"
               data-map
               data-zoom="{{section.settings.zoom}}"
               data-type="{{section.settings.mapType}}"
               data-address-setting="{{ section.settings.map_address | escape }}"
               data-api-key="{{ section.settings.api_key }}">
            </div>
            <div class="map-section__overlay" data-map-overlay></div>
        {% endif %}
    </div>
</div>
<div class="grid__item {{ grid_width }} medium-down--one-whole right-map text-center address-text">
    <div class=" home-reveal map-section-main">
        <div class="map-section__content-wrapper">
            <div class="map-section__content">
            {% if section.settings.heading != blank %}
                <h1 class="black">{{ section.settings.heading | escape }}</h3>
            {% endif %}
            {% if section.settings.address != blank %}
                <div class="rte-setting"><h3>{{ section.settings.address }}</h3></div>
                {% if section.settings.map_address != blank and section.settings.button_text != blank %}
                 <h4>
                     <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}"
                       class="hvr-underline-from-left-dark map_section__directions-btn"
                       target="_blank"> 
                     {{ section.settings.button_text | escape }}
                    </a>
                  </h4>
            {% endif %}  

{%endif%}     
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="grid__item {{ grid_width }} medium-down--one-whole left-map text-center address-text">
    <div class="home-reveal map-section-main">
        <div class="map-section__content-wrapper">
            <div class="map-section__content">
            {% if section.settings.heading != blank %}
                <h1 class="black">{{ section.settings.heading | escape }}</h3>
            {% endif %}
            {% if section.settings.address != blank %}
                <div class="rte-setting"><h3>{{ section.settings.address }}</h3></div>
                {% if section.settings.map_address != blank and section.settings.button_text != blank %}
                  <h4>
                    <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}"
                       class="hvr-underline-from-left-dark map_section__directions-btn"
                       target="_blank"> 
                     {{ section.settings.button_text | escape }}</h4>
                    </a>
                  </h4>
            {% endif %} 
            {%endif%}

            </div>
        </div>
    </div>
</div>

<div class="grid__item large--one-half medium-down--one-whole right-map {{section.settings.feature_image_position}}">
    <div class="map-section__background-wrapper">
        {% if bg_image != blank %}
            <div class="map-section__image" style="background-image: url('{{ bg_image | img_url: '1024x1024' }});"></div>           
        {% elsif onboarding == true %}
            <div class="placeholder-background"></div>
        {% endif %}
        {% if display_map %}
            <div class="map-section__container"
               id="Map-{{ section.id }}"
               data-map
               data-type="{{section.settings.mapType}}"
               data-zoom="{{section.settings.zoom}}"
               data-address-setting="{{ section.settings.map_address | escape }}"
               data-api-key="{{ section.settings.api_key }}">
            </div>
            <div class="map-section__overlay" data-map-overlay></div>
        {% endif %}
    </div>
</div>
{%endif%}
</div>


{% schema %}
{
"name": "Map",
"class": "index-section section-margin",
"settings": [
{
"type":      "radio",
"id":        "dir",
"label":     "Text",
"options": [
{ "value": "left", "label": "Map on left" },
{ "value": "right", "label": "Map on right" }
],
"default":   "right"
},
{
"type": "header",
"content": "Text"
},
{
"id": "heading",
"type": "text",
"label": "Heading",
"default": "Our store"
},
{
"id": "address",
"type": "richtext",
"label": "Address and hours",
"default": "<p>123 Fake St.<br>Toronto, Canada</p><p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>"
},
{
"id": "map_address",
"type": "text",
"label": "Map address",
"info": "Google Maps will find the exact location",
"default": "80 Spadina Ave, Toronto"
},
{
"type":      "radio",
"id":        "mapType",
"label":     "Map view type",
"options": [
{ "value": "roadmap", "label": "Roadmap" },
{ "value": "satellite", "label": "Satellite" }
],
"default":   "roadmap"
},
{
"type":   "range",
"id":     "zoom",
"min":       4,
"max":       20,
"step":      1,
"unit":       "#",
"label":     "Map zoom",
"default":   14
},
{
"id": "button_text",
"type": "text",
"label": "Map link label",
"default": "Get directions"
},
{
"type": "header",
"content": "Background"
},
{
"id": "api_key",
"type": "text",
"label": "Google Maps API key",
"info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Image",
"info": "Displayed if the map isn’t loaded"
}
],
"presets": [
{
"name": "Map",
"category": "Map"
}
]
}
{% endschema %}